<!DOCTYPE html>
<html lang="en">
<head>
    <title>Maths Bomb</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/jquery-3.3.1.min.js" defer></script>
    <script src="/socket.io.js" defer></script>
    <script src="/domVariables.js" defer></script>
    <script src="/buttons.js" defer></script>
    <script src="/forms.js" defer></script>
    <script src="/domSetup.js" defer></script>
    <script src="/user.js" defer></script>
    <script src="/client.js" defer></script>
</head>
<body>
<div id="pleaseWait">
    Please Wait...
</div>

<!-- Intro Panel: The first things all viewers will see -->
<div id="introPanel">
    <h1>Maths Bomb</h1>
    <button id="joinGameBtn">JOIN GAME</button>
    <button id="hostGameBtn">HOST GAME</button>
</div>

<!-- All Hosting Panels -->
<div id="hostPanel">
    <h1>Welcome to Maths Bomb</h1>
    <p>This is a highly competitive maths game, built for classrooms and parties</p>
    <p>Ideally the host should be using one of the following: Interactive Whiteboard, projector, a
    computer monitor that is visible to all players.</p>
    <p>All other players should join on handheld devices such as iPads or phones.
     Alternatively they can play in an ICT suite if each team has their own computer.</p>
    <div class="flexCenter">
        <form id="hostSetupForm" action="/hostSetup/" method="post">
            <label for="groupName">Group Name: </label>
            <input type="text" id="groupName" name="groupName" placeholder="e.g. classAwesome" required>
            <label for="entryPassword">Password: </label>
            <input type="text" id="entryPassword" name="entryPassword" placeholder="keep it simple" required>
            <input class="submitBtn" type="submit" value="DONE!">
        </form>
    </div>
    <button id="hostBackBtn">BACK</button>
</div>
<div id="hostWaitingPanel">
    <h2>Room is Ready</h2>
    <p>Get the players to join the game by using the PIN and password below.</p>
    <p>Once all players have joined, press the BEGIN button.</p>
    <div class="joiningDetails">
        <p class="hostWaitingLabels">Name: </p>
        <p class="hostWaitingInfo" id="groupNameDisplay"></p>
        <p class="hostWaitingLabels">PIN: </p>
        <p class="hostWaitingInfo" id="pinDisplay"></p>
        <p class="hostWaitingLabels">Password: </p>
        <p class="hostWaitingInfo" id="passwordDisplay"></p>
    </div>
    <div id="listOfPlayers">

    </div>
    <button id="beginBtn">BEGIN</button>
</div>

<!-- All player panels -->
<div id="playerPanel">
    <h1>Welcome to Maths Bomb</h1>
    <p>Are you ready to have your maths skills put to the test?</p>
    <p>Someone should be hosting a game for you, use the PIN and password to gain entry:</p>
    <div class="flexCenter">
        <form id="playerSetupForm" action="/joinGame/">
            <label for="teamNameEntry">Team Name:</label>
            <input type="text" id="teamNameEntry">
            <label for="playerPinEntry">PIN:</label>
            <input type="text" id="playerPinEntry">
            <label for="playerPasswordEntry">Password:</label>
            <input type="text" id="playerPasswordEntry">
            <input class="submitBtn" type="submit" value="GO!">
        </form>
    </div>
    <p class="red" id="playerFeedback"></p>
    <button id="playerBackBtn">BACK</button>
</div>
<div id="playerWaitingPanel">
    <h1>You Are Ready!</h1>
    <p>Waiting for all other players to join and for the host to start the game.</p>
</div>

</body>
</html>
